{%extends 'main/template.html'%}
{%load static%}
{% block title%}

<title>About us</title>
{% endblock title%}
{%block content%}
<div>
<h1>This is a social media created by João Calado and Pedro Calado</h1>
<h1>
    We made this social media to practise our Pyhton skils with Django and a little of Javascript. in doing so, this website
</h1>
</div>
<div>
    <h1>
        Our contacts are:
        <ol class="list-group list-group-horizontal" >João:
            <ul class="list-group list-group-horizontal">
              <a  href="https://www.linkedin.com/in/joao-calado-moura-7627b3204/" class="nav-link text-secondary logui" target="_blank"><img id = 'linkedin'src="{% static 'media/linkedin.png' %}"></a>
            </ul>
            <ul>
                <a  href='https://github.com/moura-code'  class="nav-link text-secondary logui" target="_blank"> <img id = 'git'src="{% static 'media/github.png' %}"></a >
            </ul>
        </ol>
    </h1>
</div>
{% endblock content%}
