{%extends 'main/template.html'%}
{% load crispy_forms_tags %}}
{% block title%}
<title>login</title>
{% endblock title%}
{%block content%}
<div class = "container">
    <div class="form-group">
       <form method="post" action="./?next={{ redirect_to }}">
           {% csrf_token %}
           {{ form|crispy }}
           {% if request.GET.next %}
                <input type="hidden" name="next" value="{{request.GET.next}}" />
           {% endif %}
           <button type="submit">Login</button>
       </form>
    </div>
</div>
{% endblock content%}